body{
    font-family: "Roboto";
    font-size: medium;
    padding : 15px
}
.presque{
    color: black
}
.NON{
    color: black;
}
.proposition{
    color: black;
}

.divcorr{
    padding-left: 25px; 
    padding-right: 15px;
}

.catCorr{
    font-size: x-large; font-weight: bold; text-decoration: underline;
}

#Correction{
    visibility: hidden;
}

.intit{
    font-size: large;
    text-decoration: underline;
}